.flex {
    display: flex;
}

.toolbar-justify {
    justify-content: space-between;
}

.menu {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: top;
    flex-direction: column;
    background-color: #3f51b5;
    color: #fff;
    padding: 10px;
    border-radius: 50% 20% / 10% 40%;
}


.option-menu {
    cursor: pointer;
    text-align: inherit;
    width: 100%;
    height: 50px;
    font-size: 18px;
}

.toolbar-buttons>button{
    margin-right: 10px;
}