<mat-toolbar color="primary" class="toolbar-justify">
  <div class="flex">
    <img
      src="https://cdn.worldvectorlogo.com/logos/transportation-1.svg"
      width="30px"
    />
    <div style="margin-left: 15px">
      <span>ABC Transportes</span>
    </div>
  </div>

  <div>
    <strong>GESTOR DE PROVEEDORES</strong>
  </div>

  <div style="margin-left: 5rem;" class="toolbar-buttons">
    <button mat-icon-button routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button routerLink="/proveedor/consultar-proveedores">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button routerLink="/proveedor/crear-proveedor">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-3">
      <div class="menu">
        <div class="container mt-5">
          <div class="row" *ngFor="let menu of menuList">
            <button mat-button class="col-12 option-menu" routerLink="{{menu.path}}">
              <mat-icon>{{ menu.icon }}</mat-icon>
              <span style="margin-left: 15px;">{{ menu.name }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
